# Nearby HelpUp Frontend Configuration
# Back-end API string url (exclude trailing slash)
VITE_API_URL="http://localhost:8000/api/v1"

# WebSockets endpoint (host only, exclude protocol prefix and trailing routes)
VITE_WS_URL="localhost:8000"
